* {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}

/* NAVIGATION */

nav {
    display: flex;
    justify-content: center;
}
nav a {
    font-size: 1.8rem;
    padding: 60px 80px;
    color: rgba(0, 0, 0, 0.5);
}
nav a strong {
    font-size: 1.8rem;
    text-decoration: line-through;
    transition: all 0.3s ease-in-out 0.0s;
}
nav a:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Add a black background color to the top navigation */
.topnav {
    color: black;
    overflow: hidden;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
  
/* When the screen is less than 1050 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1050px) {
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
      width: 100%;
      text-align: right;
    }
    nav a {
        padding: 20px 80px;
    }
    nav .home, nav .icon {
        padding: 40px 80px;
        z-index: 1;
    }
}
  
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1050px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive {float: none;}
    .topnav.responsive {position: relative;}
    .topnav.responsive {
        display: block;
        width: 100%;
        text-align: left;
    }
}

/* NYC SKYLINE IMAGE */

/* When the screen is less than 1050 pixels wide, the height and width of the image should increase */
@media screen and (max-width: 1000px) {
    .backdropsmall img {
        visibility: initial;
        width: 90%;
        height: auto;
        position: relative;
        top: -40px;
    }
    .backdropsmall {
        padding: 0px 0px;
        display: flex;
        justify-content: center;
        z-index: 2;
        
    }
    .backdrop img {
        display: none;
    }
    .backdrop {
        display: none;
    }
  }
  @media screen and (min-width: 1001px) {
    .backdropsmall {
      display: none;
    }
  }


.backdrop {
    padding: 30px 20px;
    display: flex;
    justify-content: center;
}
.backdrop img {
    width: 70%;
    height: 70%;
}

/* Why hire us?*/

.blurb {
text-align: center;
}

.blurb .reason, .blurb .reasonToWork {
    font-size: 2.5rem;
    min-width: 500px;
    max-width: 1000px;
    display: inline-flex;
    padding: 0px 75px 30px 75px;
    text-align: left;
    line-height: 1.6;
}

@media screen and (max-width: 650px) {
    .blurb .reason, .blurb .reasonToWork {
        font-size: 1.8rem;
        min-width: 300px;
        max-width: 800px;
        padding: 0px 25px 30px 30px;
    }
}

@media screen and (max-width: 650px) {
    .hireUS, .getHired {
        font-size: 2.4rem;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
    }   
}

@media screen and (min-width: 650px) {
    .blurb .hireUS, .blurb .getHired {
        text-align: center;
        font-size: 3.7rem;
        color: rgba(0, 0, 0, 0.5);
    }
}

/* BUTTONS */

.blurb button {
    font-size: 2.5rem;
    display:inline-block;
    padding: 15px 25px;
    border: 1.75px solid rgba(0, 0, 0, 0.8);
    margin: 20px 40px 50px 40px;
    width: 250px;
    box-sizing: border-box;
    text-decoration:none;
    color:rgba(0, 0, 0, 0.8);
    text-align:center;
    background-color: white;
    transition: all 0.2s;
}
.blurb button:hover{
    color:#ffffff;
    background-color:rgb(0, 0, 0, 0.8);
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .blurb button {
        font-size: 1.8rem;
        padding: 15px 25px;
        border: 1.75px solid rgba(0, 0, 0, 0.8);
        margin: 20px 40px 50px 40px;
        width: 170px;
        }
}

/* HORIZONTAL LINE */

hr {
    width: 75%;
  }


/* FOOTER */

.staffhash {
    font-size: 4rem;
    text-align: center;
    padding: 30px 0px 10px 0px;
}
.follow, .phone, .email, .follow a {
    display: flex;
    font-size: 2.5rem;
}
.follow, .follow a {
    text-align: center;
    justify-content: center;
}
.phone, .email, .icons {
    display:inline-flex; 
    justify-content: center;
    margin: 40px 80px 60px 80px;
}
.footcontain {
    text-align: center;
    height: 250px;
}
.instaicon, .fbicon {
    padding: 30px 20px;
}
.instaicon:hover, .fbicon:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 710px) {
    .staffhash {
        font-size: 3.3rem;
        text-align: center;
        padding: 30px 0px 10px 0px;
    }
    .follow, .phone, .email, .follow a {
        display: flex;
        font-size: 2rem;
    }
    .phone, .email, .icons {
        margin: 40px 80px 0px 80px;
    }
    .footcontain {
        height: 250px;
    }
    
}

@media screen and (max-width: 1150px) {
    .phone, .email, .icons {
        margin: 30px 80px 0px 80px;
    }    
}