.title {
    text-align: center;
    cursor: default;
}

.title h1 {
    font-size: 32px;
    padding: 20px 15px 30px 15px;
    color: rgba(52, 128, 160, .95);
}

.webImages {
    width: 100%;
    text-align: center;
}

.webImages .site {
    width: 60%;
    margin: 20px 20px 50px 20px;
    box-shadow: 0px 5px 18px #888888;
    transition: all .2s ease-in-out;
}

.webImages .site:hover {
    transform: scale(1.03);
}

.appImages {
    width: 100%;
    text-align: center; 
}

.appImages .app {
    width: 60%;
    margin: 20px 20px 50px 20px;
    transition: all .2s ease-in-out;
}

.appImages .app:hover {
    transform: scale(1.03);
}

footer h1 {
    text-align: center;
    padding: 60px 20px;
    color: rgba(52, 128, 160, .95);
}


@media screen and (max-width: 610px) {
    footer h1 {
      font-size: 25px;
    }
  }

@media only screen and (max-width: 600px) {
    .webImages .site {
        width: 70%;
    }
    .appImages .app {
        width: 70%;
    }
  }

@media only screen and (max-width: 570px) {
    .title h1 {
        font-size: 25px;
        padding: 15px 15px 20px 15px;
    } 
  }

@media screen and (max-width: 500px) {
    footer h1 {
      font-size: 20px;
      padding: 40px 20px 60px 20px;
    }
  }

@media only screen and (max-width: 445px) {
    .title h1 {
        font-size: 22px;
        padding: 5px 15px 20px 15px;
    } 
    .webImages .site {
        width: 75%;
        margin: 20px;
    }
    .appImages .app {
        width: 75%;
        margin: 20px;
    }
  }

  @media screen and (max-width: 400px) {
    footer h1 {
      font-size: 16px;
      padding: 40px 20px 60px 20px;
    }
  }

@media only screen and (max-width: 380px) {
    .title h1 {
        font-size: 18px;
    } 
    .webImages .site {
        width: 80%;
    }
    .appImages .app {
        width: 80%;
    }
  }